body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  background-color: #e6ffff;
  margin: 0px;
  overflow-x: hidden; }

.header-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #b3e5fc;
  padding: 10px;
  /* box-shadow: 0px 2px 5px grey; */ }

.logo {
  height: 75px;
  width: auto; }

.nav-links-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  list-style-type: none;
  padding: 0px; }

.nav-link {
  background: #f48fb1 !important;
  margin: 5px !important; }

#hero-image {
  width: 100vw;
  height: auto; }

.content-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0px 20px; }

.content-section {
  /* border: 1px #82b3c9 solid;
    margin: 10px;
    border-radius: 5px; */
  padding: 0px 20px; }

#welcome {
  -webkit-box-flex: 1;
  -ms-flex: 1 50%;
  flex: 1 50%; }

#lookatthis {
  -webkit-box-flex: 2;
  -ms-flex: 2 50%;
  flex: 2 50%;
  -webkit-box-ordinal-group: 0;
  -ms-flex-order: -1;
  order: -1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column; }

#andsoon {
  -webkit-box-flex: 1;
  -ms-flex: 1 50%;
  flex: 1 50%; }

.content-image {
  width: 40%;
  height: auto;
  -ms-flex-item-align: center;
  align-self: center; }

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #c2c2c2;
  margin-top: auto; }

@media only screen and (min-width: 768px) {
  .header-nav {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start; }
  .logo {
    margin-right: auto; }
  #welcome {
    -webkit-box-flex: 1;
    -ms-flex: 1 30%;
    flex: 1 30%; }
  #lookatthis {
    -webkit-box-flex: 3;
    -ms-flex: 3 30%;
    flex: 3 30%;
    -webkit-box-ordinal-group: 1;
    -ms-flex-order: 0;
    order: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
  #andsoon {
    -webkit-box-flex: 1;
    -ms-flex: 1 30%;
    flex: 1 30%; } }

@media only screen and (min-width: 992px) {
  .logo {
    margin-right: auto; }
  #welcome {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; }
  #lookatthis {
    -webkit-box-flex: 2;
    -ms-flex: 2;
    flex: 2; }
  #andsoon {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1; } }
